Meta
doc
*.o
*.lo
*.la
*.a
*.so
*.spec
*.orig
.deps
.libs
*~
*.zip
*.tar.gz
*.bak
*.Rcheck/
autom4te.cache/
*.tar.gz
*.rds
aclocal.m4
.Rhistory
.Rproj.user
*.tap
.RData
.DS_Store
.Rbuildignores
config.log
config.status
src/ADOLC/adol-c-swig-inst/*
src/ADOLC/adol-c-swig/*
src/ColPack/ColPack*
src/Makevars
