Meta
doc
*.o
*.lo
*.la
*.a
*.so
*.spec
*.orig
.deps
.libs
*~
*.bak
*.Rcheck/
autom4te.cache/
*.tar.gz
*.rds
aclocal.m4
.Rhistory
.Rproj.user
*.tap
.RData
.DS_Store
.Rbuildignores
src/ADOLC/adol-c-swig-inst/*
src/
