useDynLib(radolc, .registration=TRUE)

exportPattern("^[[:alpha:]]+")

export("trace_on",
       "badouble_declareIndependent",
       "badouble_declareDependent",
       "trace_off", 
       "gradient",
       "jacobian",
       "hessian",
       "jac_vec",
       "vec_jac",
       "hess_vec",
       "hess_mat",
       "adolc_createList",
       "*","+","-","/","^")

